<% provide(:title,'Sign In') %>
<div class="panel">
	<p>My Articles</p>
</div>
 
<table>
  <tr>
    <th>Question</th>
    <th>View/Answer</th>
    <th>Delete Post</th>
  </tr>
 
  <% @question.each do |question| %>
    <tr>
		<td><%= question.question %></td>
    <% if current_user %>
      <td><%= link_to 'View / Answer', question_path(question) %></td>
      <td><%= link_to 'Delete Question', question_path(question),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <%= link_to 'Log In', new_session_path %>
  <% end %>
    </tr>
  <% end %>
</table>