<% @title="Home" %>
<div class="panel">
	<p>My Articles</p>
	<div class="login">
		<%= link_to 'Home', home_path %> |

	</div>

</div>
 <div class="show_article">
<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>
</div>
<div class="answer">
<h2>Answers</h2>
<% @question.answers.each do |answer| %>
 
  <p>
    <b>Answer:</b>
    <%= answer.answer %>
  </p>
<% end %>
<%= render :partial => 'answers/form', :locals => { :question => @question, :answer => @question.answers.build } %>
</div>




